body{
    background-color: rgb(11, 11, 12);
    opacity: 0.4;
    color: white
}
h1, h2 {
    color: rgb(108, 108, 235);
}
p,li{
    color: white;
}
p span{
    color: yellow;
}
#desc{
    font-style: italic;
}
ol span{
    color: red;
    text-decoration: underline;
}
#hap{
    width: 30%;
    height: 180pt;
}
#sad{
    width: 30%;
    height: 180pt;
    margin-left: 70px;
}
h2 span{
    color: white;
}
.my-first::first-letter {
    font-size: 40px;
}
.impact{
    background-color: white;
    color: orangered;
    font-style: italic
}

.impact:hover{
    /*font-size:14px;*/
    font-size: 1.5em;
    background-color: lightskyblue;
    color:#FF00FF;
}
